<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        
        {% stylesheets '@UserInterfaceBundle/Resources/public/fullcalendar/*.css'
        output='css/main.css'
        %}
        
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        {% stylesheets '@UserInterfaceBundle/Resources/public/bootstrap/lib/bootstrap.less'
        output='css/bootstrap.less'
        %}
        
        <link rel="stylesheet/less" href="{{ asset_url }}" media="all" />
        {% endstylesheets %}
        
        
        <!-- cosas de less -->
        {% stylesheets '@UserInterfaceBundle/Resources/public/bootstrap/lib/forms.less'
        output='css/forms.less'
        %}{% endstylesheets %}
        {% stylesheets '@UserInterfaceBundle/Resources/public/bootstrap/lib/mixins.less'
        output='css/mixins.less'
        %}{% endstylesheets %}
        {% stylesheets '@UserInterfaceBundle/Resources/public/bootstrap/lib/patterns.less'
        output='css/patterns.less'
        %}{% endstylesheets %}
        {% stylesheets '@UserInterfaceBundle/Resources/public/bootstrap/lib/reset.less'
        output='css/reset.less'
        %}{% endstylesheets %}
        {% stylesheets '@UserInterfaceBundle/Resources/public/bootstrap/lib/scaffolding.less'
        output='css/scaffolding.less'
        %}{% endstylesheets %}
        {% stylesheets '@UserInterfaceBundle/Resources/public/bootstrap/lib/tables.less'
        output='css/tables.less'
        %}{% endstylesheets %}
        {% stylesheets '@UserInterfaceBundle/Resources/public/bootstrap/lib/type.less'
        output='css/type.less'
        %}{% endstylesheets %}
        {% stylesheets '@UserInterfaceBundle/Resources/public/bootstrap/lib/ui-icons.less'
        output='css/ui-icons.less'
        %}{% endstylesheets %}
        {% stylesheets '@UserInterfaceBundle/Resources/public/bootstrap/lib/variables.less'
        output='css/variables.less'
        %}{% endstylesheets %}
        <!-- finde less -->
        
       {% javascripts '@UserInterfaceBundle/Resources/public/jquery/*.js'
       				  '@UserInterfaceBundle/Resources/public/backbone/underscore-min.js'
       				  '@UserInterfaceBundle/Resources/public/backbone/backbone-min.js'
                      '@UserInterfaceBundle/Resources/public/less/*.js'
                      '@UserInterfaceBundle/Resources/public/closure/soyutils.js'
       	 	output='js/main.js'
        %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
       
       
       
       
       <!--bootstrap-->
        {% javascripts '@UserInterfaceBundle/Resources/public/bootstrap/js/bootstrap-dropdown.js'
       	 	output='js/dropdown.js'
        %}
                  <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        {% javascripts 
                       '@UserInterfaceBundle/Resources/public/bootstrap/js/bootstrap-modal.js'

       	 	output='js/modal.js'
        %}
                  <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts 
                       '@UserInterfaceBundle/Resources/public/bootstrap/js/bootstrap-twipsy.js'
       	 	output='js/twipsy.js'
        %}
                  <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts 
                       '@UserInterfaceBundle/Resources/public/bootstrap/js/bootstrap-popover.js'
       	 	output='js/popover.js'
        %}
                  <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!--bootend-->
        
               
       {% javascripts '@UserInterfaceBundle/Resources/public/model/super/*.js'
       	 	output='js/super.js'
        %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
       {% javascripts '@UserInterfaceBundle/Resources/public/fullcalendar/fullcalendar.js'
                      '@UserInterfaceBundle/Resources/public/views/*.js'
                      '@UserInterfaceBundle/Resources/public/model/*.js'
                      '@UserInterfaceBundle/Resources/public/templates/templates_es-ES.js'
                      '@UserInterfaceBundle/Resources/public/javascript.js'
       	 	output='js/app.js'
        %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
                
                
                
                    

    
                
        <title>Wixet</title>


   <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>     
        
    </head>
<body>

<div id="loading" align="center" class="" style="z-index:50000; bottom:0px; right:50%; position:fixed;">


<div class="alert-message">
        <p><strong>Cargando...</strong></p>

      </div>

</div>


<div id="app">

</div>


</body>

  

                
</html>
